html,
body {
  margin: 0;
  padding: 0;
}

html,
ember-application {
  position: relative;
  min-height: 100%;
  height: auto;
}

#navigation-bar {
  margin-bottom: 25px;
}

//Padding for the bottom of all pages
.universal-padding  {
  padding-bottom: 300px;
}

#footer {
  width: 100%;
  height: 250px;
  bottom: 0;
  position: absolute;
  padding-top: 20px;
}

// .all-property-card {
//   display: -webkit-flex;
//   display: flex;
//   -webkit-flex-direction: row;
//   flex-direction: row;
//   flex-wrap: wrap;
//   .unit-quick-info-card {
//     margin-bottom: 20px;
//   }
// }

.unit-card-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row {
  margin-bottom: 0;
}


.card-action.details {
  padding: 0px;
}

button.btn-flat.details-button {
  width: 100%;
}

.unit-number.card-panel {
  padding-top: 10px;
  padding-bottom: 10px;
}

.options-button.btn-flat {
  padding-left: 10px;
  padding-right: 0;
  .options-icon {
    padding-top: 10px;
    height: 40px;
    width: auto;
    display: inline;
  }
}

.option-button-contents {
  display: inline-block;
  > a {
    margin: 0 5px;
  }
}

.expense-earnings.divider {
  margin-top: 25px;
  margin-bottom: 25px;
}

//MODAL DIMENS
.modal {
  width: 80% !important ;
  min-height: 95% !important;
  top: 10px !important;
  bottom: 10px !important;
}

//LOGIN PAGE//////////////////////////
#sign-in-card {
  margin: 20% auto 5%;
  display: block;
}

.sign-in-up-button {
  margin: 0px 0 15px;
}
//////////////////////////////////////


.loading {
  padding: 100px;
}

.input-field {
  margin: 0 !important;
}
.form-control {
  margin: 0 !important;
}

// unit list in all-houses view
.col.unit-list-col {
  padding-left: 0;
  padding-right: 0;
}

.collection {
  @extend .z-depth-1;
}

.all-property-card {
  @extend .z-depth-0;
}
