html,
body {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
  height: auto;
}

#main-content  {
  padding-bottom: 180px;
}

#footer {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.form-horizontal {
  width: 60%;
  margin: 0 auto 100px;
}
