.house-unit-card.card-action {
  // @extend .z-depth-2
}

.button {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.breadcrumb-divider {
  margin-left: 3px;
  margin-right: 3px;
  color: black;
}

.street-icon {
  margin-right: 1rem;
}

.subScript {
  padding-right: 0.7rem;
}

.circle-add-buttons {

}
