span.card-title.street-name{
  font-weight: 500;
}
.house-unit-card{
  font-size: 1.2em;
}

.details-house-name {
  font-weight: 600;
}
.house-net-revenue {
  margin-bottom: 5px;
}
#details-unit-num {
  margin-top: 50px;
  margin-bottom: 25px;
}
.divider {
  margin-top: 25px;
  margin-bottom: 15px;
}
