li {
  list-style: none;
}

p {
  margin: 0;
}

.card-panel {
  text-align: center;
}

#house-name-card-title {
  font-size: 2em;
  font-weight: 500;
  color: black;
}
// .card-action.house-unit-card {
//   font-size: 1.5em;
//   color: white;
// }
.unit-subscript {
  font-size: 0.7em;
}

.details-house-name {
  font-weight: 600;
}

.divider {
  margin-top: 15px;
}
.house-quick-info {
  font-size: 1.7em;
}
.unit-num-heading {
  font-size: 0.5em;
}
