
<h3>Welcome Page Here</h3>

<!--
To DO:
1. Hide this content when user is loggin
2. Show different content when user is logged in
3. Hide FAB on this page
-->

<div class="row">
  <div class="col s12 m6">
    <div class="card-panel teal">
      <span class="white-text">What it does
      </span>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card-panel teal">
      <span class="white-text">Why its good
      </span>
    </div>
  </div>
</div>

<div class="col s12 m6">
  <div class="card-panel teal">
    <span class="white-text">Why people should use it
    </span>
  </div>
</div>
