{{#if showOptions}}
  {{#md-modal close='closeModal'}}
    <div class="row options-header">
      <p>Options for</p>
      <h4 class="flow-text">{{house.streetName}}</h4>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m6">
        {{property-overview-modal/overview-info house=house}}
      </div>
      <div class="col s12 m6">
        {{property-overview-modal/option-buttons delete="delete"}}
      </div>
    </div>
  {{/md-modal}}
{{/if}}
