<div class="col s12 m10">
  <div class="card white darken-1 all-property-card">
    <!--house card content-->
    <div class="card-content">
      <!--Links to specific house-->
      {{#link-to 'house' house.id}}
        <span class="card-title">{{house.streetName}}</span>
      {{/link-to}}

      <!--Divider-->
      <div class="divider"></div>

      <!--House quick-info row-->
      <div class="row">
        <!--Net-revenue block-->
        <div class="col s6 m4">
          <div class="card-panel">
            <span class="flow-text">
              <p>$12,000</p>
            </span>
            <span>
              <p>Net Revenue</p>
            </span>
          </div>
        </div>
        <!--End net-revenue block-->

        <!--Active units block-->
        <div class="col s6 m4">
          <div class="card-panel">
            <span class="flow-text">
              <p>5/6</p>
            </span>
            <span>
              <p>Active Units</p>
            </span>
          </div>
        </div>
        <!--Active units block-->

        <!--Total expense block-->
        <div class="col s6 m4">
          <div class="card-panel">
            <span class="flow-text">
              <p>{{format-currency house.totalUnitExpenses}}</p>
            </span>
            <span>
              <p>Total Expense</p>
            </span>
          </div>
        </div>
        <!--End total expense block-->

      </div><!--End house quick-info row-->
    </div><!--End house card-content -->
  </div><!--End card-->
</div><!--col-->

<div class="col s12 m2 unit-list-col">
  {{#if house.units}}
    {{#md-collection content=house.units as |unit|}}
      {{link-to unit.unitNum "unit" unit.id class='collection-item'}}
    {{/md-collection}}
  {{/if}}
</div>
