<!--
TO DO:
1.Import from newproperty/building instead of add-property-form (DONE)
2.Must revise new-property/building to be like add-property-form -->

  <h4>Add Property Forms</h4>

  {{new-property/building
      streetName=houseParams.streetName
      mortgage=houseParams.mortgage
      taxes=houseParams.taxes
      insurance=houseParams.insurance
      numUnits=houseParams.numUnits
    }}

  {{md-btn text='Submit'
    action='submit'
    class='blue white-text text-darken-3'}}

  {{md-btn text='Cancel'
    action='reset'
    class='red white-text text-darken-3'}}
