<div class="form-group">
  {{md-input value=passwords.previous
      type='password'
      label='Old Password'
      class="col s12"
      validate=true}}
</div>

<div class="form-group">
  {{md-input value=passwords.next
      type='password'
      label='New Password'
      class="col s12"
      validate=true}}
</div>

{{md-btn text='Change'
  action='submit'
  class='blue white-text text-darken-3'}}

{{md-btn text='Cancel'
  action='reset'
  class='red white-text text-darken-3'}}
