{{md-input value=email
    label="Email"
    type='email'
    class="col s12"
    validate=true}}

<!--- Use block below to try to get username input feild
      to show error message.

    Issue: Unable to pull input-value from the form below. -->


{{!-- <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
      </div>
    </form>
  </div> --}}
