
{{#if addUnit}}
  {{#md-modal close='closeModal' isFooterFixed=true}}
      <div class="modal-content">
          <!-- Placeholder for title of modal-->
          <h5 class="flow-text">New Unit</h5>
          <h5>{{house.streetName}}</h5>

          {{all-forms/new-unit
            unitParams=unitParams }}

      </div>
      <div class="modal-footer">
        {{md-btn text='Cancel'
          action='closeModal'
          class='red white-text text-darken-3'}}
        {{md-btn text='Create Lease'
          action='createUnit'
          class='teal white-text text-darken-3'}}
      </div>
  {{/md-modal}}
{{/if}}
