<div class="row valign-wrapper">
  <div class="col s2">
    <div class="section-title" {{action "openLeaseDetails"}}><a>Lease<i>SHOW</i></a></div>
  </div>
  <div class="col s10">
    <p class="right-align flow-text">No notifications</p>
  </div>
</div>

<div class="divider"></div>

<div class="row property-card-sections">
  <!-- Months left -->
  <div class="col s6 m4 center-align">
    <h4>13</h4>
    <span>Days until rent due</span>
  </div>
  <!-- Rent Collected -->
  <div class="col s6 m4 center-align">
    <h4>$12,000</h4>
    <span>Rent collected</span>
  </div>
  <!-- Months left -->
  <div class="col s6 m4 center-align hide-on-small-only">
    <h4>6</h4>
    <span>Months left on lease</span>
  </div>
</div>
