{{#each housesData as |house|}}

<div class="row">
  <div class="col s12 container">
    <div class="card blue-grey lighten-1">

      {{#link-to 'house' house}}
      <div class="card-content white-text">
        <span class="card-title">{{house.street_name}}</span>
        <p>Current Value: {{house.current_price}}</p>
      </div>
      {{/link-to}}

      {{#each house.units as |unit|}}
      {{#link-to 'unit' unit}}
      <div class="house-card card-action">
        Unit #{{unit.unit_num}}
      </div>
      {{/link-to}}
      {{/each}}

    </div>
  </div>
</div>

{{/each}}
