<h1>Your Houses</h1>
<ul>
{{#each housesData as |house|}}
  <li>{{#link-to 'house' house}}{{house.street_name}}{{/link-to}}</li>
{{/each}}

{{!-- <h2>HI</h2>
<h2>HI</h2>
<h2>HI</h2>
<h2>HI</h2>
<h2>HI</h2>
<h2>HI</h2>
<h2>HI</h2> --}}

</ul>
