<div class="flow-text">Money Details</div>
<!--Second row of cards-->
<div class="row">
  <!--Column defines how large the Money Detail card will be-->
  <div class="col s12">
    <div class="card white darken-1">
      <!--Money card contents-->
      <div class="card-content house-card">

        <span class="card-title">Earnings</span>
        <!--Divider
            Note: not showing up in the UI-->
        <div class="divider"></div>
        <!--Earnings row-->
        <div class="earnings row">
          <div id="earnings" class="col s12">
            <p class="flow-text center-align">
              Details earning information here. Might include graphs, charts, grapgics etc. This section might be extensive.
            </p>
          </div>
        </div><!--end of Earnings row-->
        <!--Divider-->
        <div class="expense-earnings divider"></div>

<!--
TO DO:
1. Add Delete functionality
2. Add ability to edit within 5minutes of posting new expense
-->
      <!-- Expense collection -->

      <span class="card-title">Expenses</span>

      {{#md-collection content=sortedProperty as |expense|}}
        <div class='collection-item valign-wrapper'>
          <div class="col s7 m10">
            <h6><span class="bold">{{expense.expenseFor}}</span></h6>
            <p><span class="light">{{expense.expenseDescription}}</span></p>
          </div>
          <div class="col s5 m2 push-s1">
            <h6><span class="bold">{{formatCurrency expense.expenseAmount}}</span></h6>
            <p><span class="light">{{moment-format expense.expenseDate 'L'}}</span></p>
          </div>
        </div>
      {{/md-collection}}


      </div><!--end of money card contents-->
    </div>
  </div><!--End of column defines how large the Money Detail card will be-->
</div><!--End of second row of cards-->
