
<!--Fixed FAB-->
<div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 20px;">
   <a class="btn-floating btn-large red">
     <i class="large material-icons">input</i>
   </a>
   <!--Contents of FAB-->
   <ul>
     <!--link to all houses-->
     {{#link-to 'houses'}}
     <li>
       <a class="btn-floating teal">
         <i class="material-icons">view_headline</i>
       </a>
     </li>
     {{/link-to}}
     <!--link to all units-->
     {{#link-to 'units'}}
     <li>
       <a class="btn-floating teal">
         <i class="material-icons">view_carousel</i>
       </a>
     </li>
     {{/link-to}}
     <!--link to new-property form-->
     {{#link-to 'new-property'}}
     <li>
       <a class="btn-floating blue">
         <i class="material-icons">publish</i>
       </a>
     </li>
     {{/link-to}}
   </ul><!--End of contents of FAB-->
</div>
