<footer id="footer" class='page-footer teal darken-2 white-text'>
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
              <ul class="footer-items">
                <li>Terms</li>
                <li>Terms</li>
                <li>Terms</li>
              </ul>
            </div>
            <div class="col m6 s12">

            </div>
        </div>
    </div>
    {{#md-copyright text='ChaguLabs'
        startYear=2016
        class='teal darken-3 white-text center'}}
    {{/md-copyright}}
</footer>
