
<!--Show if modalIsOpen is true-->
{{#if modalIsOpen}}
  {{#md-modal close='closeModal'}}
    <div class="modal-fixed-footer">
      <div class="modal-content">
        <!-- Placeholder for title of modal-->
        <h3>{{title}}</h3>
        <!-- Placeholder for body of modal-->
        <p></p>
      </div>
      <div class="modal-footer">
      {{#link-to 'new-property'}}
      {{md-btn text='Create New Property'
        class='blue white-text text-darken-3'}}
      {{/link-to}}
      </div>
    </div>
  {{/md-modal}}
{{/if}}
