{{#if showOptions}}
    {{#md-modal close='closeModal'}}
    <div class="modal-fixed-footer">
      <div class="modal-content center-align">
        <!-- Placeholder for title of modal-->
        <h5>{{title}} options</h5>
        <!-- Placeholder for body of modal-->
        <div class="container">
          {{md-btn text='Edit'
          class='buttons
                 teal
                 white-text
                 text-darken-3
                 col s10'
          button='large'}}

        {{md-btn text='Delete'
          class='buttons
                 red
                 white-text
                 text-darken-3
                 col s10'
          button='large'
          action="delete"}}
        </div>
      </div>
    </div>
    {{/md-modal}}
{{/if}}
